# Gradle
.gradle/
build/

# Local config
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store

# NDK
.externalNativeBuild/
.cxx/

# Android Studio
captures/

# Logs
*.log

# Signing
*.jks
*.keystore

# Google services
google-services.json