# Gradle
.gradle/
build/

# Local config
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store

# NDK
.externalNativeBuild/
.cxx/

# Android Studio
captures/

# Logs
*.log

*.jpg

# Signing
*.jks
*.keystore

# Google services
google-services.json

feature/marketplace/src/main/java/com/example/marketplace/data/mock/